body {
	font-family: 'Ubuntu', sans-serif;
}

.navbar-nav {
	font-size: 1.3em;
	padding: 0px;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar-brand span{
  padding-top: 15px;
  padding-left: 5px;
}

.navbar-brand img
{
  height: 45px;
  
}

iframe
{
  margin-top: 3em;
}

.scroll-md-fixed {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: auto;
	padding-left: 5px;
	padding-right: 5px;
}

pre.prettyprint {
	background-color: white;
	border-width: 0px;
}

td.form-horizontal label
{
	padding-top:5px;
}

